// Colors
$color-anthracite: #333333;
$color-green: #11AAAA;
$color-green-alt: #34ED34;
$color-red: #cc0000;
$color-grey: #e7e7e7;
$color-grey-off: #929292;


// Fonts
$font-ml: 'Montserrat light', sans-serif;
$font-mr: 'Montserrat regular';
